.hero {
  background: url("../src/assets/Group\ 4001.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.bgI {
  background: url("../src/assets/Group\ 4059.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
